  {% extends "home/base.html" %}
  {% block content %}

    {% for post in posts %}
    <article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <img class ="img-thumbnail rounded-circle   account-img"  alt="userimage.jpg" src="{{ user.profile.image.url }}">
      <a class="mr-2 h2 text-capitalize" href="#">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted|date:"F d,Y" }}</small>
    </div>
    <h2><a class="article-title text-capitalize" href="#">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
    {% endfor %}
    {% endblock content %}
